.scg {
  position: absolute;
  width: calc(100vw - 487px);
  top: 100px;
  right: 0;
  bottom: 32px;
  z-index: 3;
}

.boundary {
  position: absolute;
  left: 480px;
}

.none {
  display: none;
}

@media (max-width: 1365px) {
  .scg {
    width: calc(75% - 10px);
  }
}
